@import "colors";

.code-window {
	display: inline-block;
	background-color: $color-header;

	& .language {
		display: block;
		background-color: $color-header;
		color: $color-bg;
		text-align: center;
	}
	& .CodeRay {
	}
	& .textfield {
		display: block;
		background-color: $color-bg;
		margin-bottom: 10px;
	}
}
